<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test Review - Component</title>
        <base href="../../../../../../../tao/views/" />
        <link rel="stylesheet" type="text/css" href="js/lib/qunit/qunit.css">
        <link rel="stylesheet" href="css/tao-main-style.css"/>
        <link rel="stylesheet" href="css/tao-3.css"/>
        <link rel="stylesheet" href="/taoQtiItem/views/css/qti-runner.css"/>
        <script type="text/javascript" src="js/lib/qunit/qunit.js"></script>
        <script type="text/javascript" src="js/lib/require.js"></script>
        <script type="text/javascript" src="js/lib/qunit/qunit-parameterize.js"></script>

        <script  type="text/javascript">

             //don't start the test now
            QUnit.config.autostart = false;

            //load the config
            require(['/tao/ClientConfig/config'], function(){
                requirejs.config({
                    "config": {
                        "core/request" : {
                            'noToken' : true
                        }
                    }
                });

                //load the test
                require(['ltiTestReview/test/review/component/qtiTestReviewComponent/test'], function(){

                    //Tests loaded, run tests
                    QUnit.start();
                });
            });
        </script>
        <style>
            #visual-test{
                position: relative;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100vh;
            }
        </style>
    </head>
    <body>
        <div id="qunit"></div>
        <div id="qunit-fixture">
            <div id="feedback-box"></div>
            <div id="fixture-api"></div>
            <div id="fixture-render"></div>
            <div id="fixture-destroy"></div>
        </div>
        <div id="visual-test"></div>
    </body>
</html>
